{% extends "index.html" %}

{% block title %} Add Course {% endblock %}

{% block content %}

<div class="formContainer">
    <form method="POST" class="writingForm">
        <h2 class="formHead">Enter or Edit Details</h2>

        <p>
            {{form.hidden_tag()}}
        </p>
        
        <p>
            {{form.program_id.label(class = "label")}}
            <br>
            {{form.program_id(class = "scrolling")}}
        </p>
    
        <p>
            {{form.level_id.label(class = "label")}}
            <br>
            {{form.level_id(class = "scrolling")}}
        </p>
    
        <p>
            {{form.name.label(class = "label")}}
            <br>
            {{form.name(class = "filling")}}
        </p>
        
        <p>
            {{form.code.label(class = "label")}}
            <br>
            {{form.code(class = "filling")}}
        </p>
        
        <p>
            {{form.submit(class = "submitButton")}}
        </p>
    </form>
    
</div>

{% endblock %}